body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F8F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #2D2A55;
}

.loading-container h1 {
    font-size: 2rem;
    color: #6C63FF;
    margin-bottom: 10px;
}

.loading-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #E0E0E0;
    border-top: 5px solid #6C63FF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}