body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #efeff5;
    color: #2D2A55;
}


header {
    background-color: #6C63FF;
    color: #fafaff;
    padding: 14px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.4rem;
}

#logout-btn {
    background-color: #FF6584;
    color: white;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#loading {
    width: 100%;
    background: #dcdcdd;
    min-height: 150px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#user-info {
    background: #dcdcdc;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}

#user-info img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section {
    width: 100%;
    max-width: 750px;
    background-color: #e0e0e1;
    border-radius: 12px;
    padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h3 {
    margin: 0;
    color: #6C63FF;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #e0dfdf;
}

li:last-child {
    border-bottom: none;
}

#roast-card-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: #2D2A55;
    color: #d8d5d5;
    padding: 20px;
    border-radius: 15px;
    max-width: 750px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#generate-roast {
    background-color: #6C63FF;
    color: white;
    display: block;
    margin: 20px auto 40px auto;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#generate-roast:hover {
    opacity: 0.9;
}