body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #c3c3c4;
    color: #2D2A55;
}

header {
    background-color: #6C63FF;
    color: #c3c3c4;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: bold;
    transition: all 0.2s ease;
}

button:hover {
    opacity: 0.9;
}

#logout-btn {
    background-color: #FF6584;
    color: white;
}

#generate-roast {
    background-color: #6C63FF;
    color: #c3c3c4;
    display: block;
    margin: 30px auto;
}

#loading {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    max-width: 400px;
    text-align: center;
}

#user-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

#user-info h2 {
    margin: 0;
    font-size: 1.5rem;
}

section {
    max-width: 600px;
    margin: 20px auto 30px auto;
    background-color: #c3c3c4;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 0;
    color: #6C63FF;
    text-align: center;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #E0E0E0;
}

li:last-child {
    border-bottom: none;
}

#roast-card-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #2D2A55;
    color: #c3c3c4;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#roast-card h2 {
    color: #FF6584;
    text-align: center;
    margin-bottom: 15px;
}

#roast-card p {
    margin: 5px 0;
}

#download-roast {
    margin-top: 15px;
    background: #FF6584;
    border: none;
    color: rgb(225, 225, 226);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

#download-roast:hover {
    background: #e6557d;
}

/* Responsive layout */
@media (max-width: 600px) {
    .card {
        padding: 15px;
    }
}